USE [master]
GO
/****** Object:  Database [Вариант 2]    Script Date: 07.02.2022 13:17:21 ******/
CREATE DATABASE [Вариант 2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Вариант 2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Вариант 2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Вариант 2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Вариант 2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Вариант 2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Вариант 2]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 07.02.2022 13:17:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Middlename] [nvarchar](50) NOT NULL,
	[PassportSerial] [nchar](10) NOT NULL,
	[PasportNumber] [nchar](10) NOT NULL,
	[Postcode] [nchar](10) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[AddressLife] [nvarchar](50) NOT NULL,
	[Company] [nvarchar](50) NULL,
	[Jobname] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 07.02.2022 13:17:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[ID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
